@page
@model IndexModel
@{
    ViewData["Title"] = "Hello World";
}

<div class="text-center">
    <h1 class="display-4">First Dotnet Site!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello, World!</p>
</div>
